body {
    background-color: #097c99;
    margin: 0;
    text-align: center;
}

header {
    font-family: Papyrus,fantasy;
    font-size: 2em;
}

#puzzle {
    margin: 0 auto 0 auto;
    width: 452px;
}

#puzzleGrid {
    background: url('images/BorderBrown.png');
    background-repeat: no-repeat;
    float: right;
    height: 452px;
    width: 452px;
}

#puzzleGrid.win{
    background: url('images/BorderGreen.png');
    background-repeat: no-repeat;
}

#puzzleGrid table {
    margin-left: 25px;
    margin-top: 25px;
    border-spacing: 0;
    border-collapse: collapse;
}

#puzzleGrid td {
    padding: 0;
    margin: 0;
}

#puzzleGrid td img {
    display: block;
}
.hide{
    display: none;
}
#button{
    position: relative;
    top: 30px;
    height: 23px;
    width: 53px;
}
#border{
    border: 3px solid #783F04;
    font-weight: bold;
    color: #097c99;
    background-color: #783F04;
    border-style: outset;
}
#win{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
#video1{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}
#video2{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}
@media (min-aspect-ratio: 16/9) {
  #video1 {
    height: 300%;
    top: -100%;
  }
    #video2 {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  #video1 {
    width: 300%;
    left: -100%;
  }
    #video2 {
    width: 300%;
    left: -100%;
  }
}